<section class="hero">
    <div class="container hero-container">
        <div class="hero-items">
            <h1 class="hero-title">Introducing Mobileapp</h1>
            <p class="hero-subtitle">Maecenas vitae tellus sapien. Prasent</p>
            <ul class="hero-list">
                <li class="hero-list__item" tabindex="0">semper scelerisque tristique a enim</li>
                <li class="hero-list__item">Integer ut mattis nulla, eget vehicula elit</li>
                <li class="hero-list__item">Prasent rutrum ac nunc et</li>
            </ul>
            <button type="button" class="btn">Download</button>
        </div>

        <img src="/img/hero_img.png" class="hero-image" alt="Introducing Mobileapp">

        <div class="image"></div>
    </div>
</section>


<section>
    <div class="container test">
        <img src="/img/hero_img.png" data-aos="fade-up" class="img" alt="">

        <div data-aos="fade-up" class="css"></div>
    </div>
</section>
<section>
    <div class="container test">
        <img src="/img/hero_img.png" data-aos="fade-up" class="img" alt="">

        <div data-aos="fade-up" class="css"></div>
    </div>
</section>
<section>
    <div class="container test">
        <img src="/img/hero_img.png" data-aos="fade-right" class="img" alt="">

        <div data-aos="fade-left" class="css"></div>
    </div>
</section>
<section>
    <div class="container test">
        <img src="/img/hero_img.png" data-aos="fade-up" class="img" alt="">

        <div data-aos="fade-up" class="css"></div>
    </div>
</section>