<header class="header">
  <div class="container header-container">
    <a href="/index.html" class="logo header-logo">Mobileapp</a>
    <!-- nav>ul>li*5>a -->
    <nav>
      <ul class="nav-list">
        <li><a href="#" class="nav-link">HOME</a></li>
        <li><a href="#" class="nav-link">FEATURES</a></li>
        <li><a href="#" class="nav-link">TEAM</a></li>
        <li><a href="#" class="nav-link">TESTIMONIALS</a></li>
        <li><a href="#" class="nav-link">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>